/* RESET */

html,body{
  display: block;
  width: 100%;
  height: auto;
  font-family: 'Roboto', sans-serif;
  color:#8F8781;
  overflow-x: hidden;
  padding-right: 0px !important;
}
li{list-style: none;}
a{text-decoration: none; color:inherit;padding: 0px !important;}
h1,h2,h3,h4,h5 h6 {
  margin: 0px !important;
}
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0; padding: 0;
}
.noPadding{
  padding-right:0px !important;
  padding-left:0px !important;
}
.noMargin{
  margin-right:0px !important;
  margin-left:0px !important;
}

input {
  border: none;
  background: none;
  outline: none;
}

button {
  background: none;
  outline: none;
}


/*COOKIE ALERT*/

#okCookie{
  background-color:#F2F2F2;
  color:#333333;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  padding:10px;
  font-family:sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top:1px solid #ccc;
  z-index:10;
}

#okCookie p{margin:0 0 10px 0; float:left; padding:5px 0px;}

#okCookie #okClose, #okCookie #okCprivacy{
  padding:5px 20px;
  float:right;
  margin-left:10px;
  text-decoration:none;
  border-radius:3px;
  color:white;
}

#okCookie #okClose{
  background-color:#E58826;
  text-shadow:0px 1px 1px #507F2B;
  box-shadow:inset 0px -1px 1px #507F2B;
}

#okCookie #okClose:hover{background-color:#42ce55}

#okCookie #okCprivacy{
  background-color:#8D9499;
  text-shadow:0px 1px 1px #63666B;
  box-shadow:inset 0px -1px 1px #63666B;
}

#okCookie #okCprivacy:hover{background-color:#a0a8ae}

.okcBeginAnimate{
    -webkit-animation: myfirst 2s;
    animation: myfirst 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* HEADER */

header {
  /*position: absolute;
  top: 0;*/
  border-top: solid 2px #E58826;
  width: 100%;
  z-index: 9 !important;
}
.nav-header{

  width: 80%;
  height: 75px;
  display: flex;
  justify-content: space-around;
  margin-left: 50%;
  transform: translateX(-50%);

}

.nav-logo img{
  margin-top: 17.5px;
}

.nav-search {
}

.search {
  border-radius: 20px 0px 0px 20px;
  width: 300px;
  height:28px;
  background: #D0D0D0;
  margin-top: 22.5px;
  padding: 5px;
}

.searchsub {
  border-radius: 0px 20px 20px 0px;
  width: 80px;
  height:28px;
  background: #24292e;
  color: white;
}

.nav-infos {
  margin-top: 27.5px;
}

.nav-login {
  height: 30px;
  width: auto;
  background-color: #E58826;
  color: white;
  font-weight: bold;
  margin-top: 22.5px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

#login-modal .modal-dialog {
    width: 600px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#register_login_btn, #register_lost_btn {
  background-color:  #E58826;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#login_lost_btn, #login_register_btn {
  background-color:  #E58826;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#lost_login_btn, #lost_register_btn {
  background-color:  #E58826;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    margin-bottom: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
    text-align: center;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    margin-top: 15px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 200px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
    overflow-x: hidden;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}


nav {
  height: 45px !important;
  width: 100% !important;
  background-color: #E58826 !important;
  border: none !important;
  border-radius: 0px !important;
  margin: 0px !important;
  z-index: 1 !important;
}
.navbar {
  /*position: relative;*/
  background-color: #E58826;
  border-radius: none !important;
}

#myNavbar {
  width: 80% !important;
  margin-left: 53.5%;
  transform: translateX(-50%);
}

.navbar-nav li {
  background-color: #E58826;
  color: white !important;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  padding-left: 52px;
  padding-right: 52px;
  border-left: solid 1px white !important;

}

.navbar-nav li a{
  color: white !important;
}

.navbar-nav li:hover{
  background: #24292e;
  color: white !important;
}
.navbar-nav li a:hover{
  background: #24292e !important;
  text-decoration: none !important;
  color: white !important;
}

.dropdown-menu li {
  /*position: relative !important;*/
  z-index: 10 !important;
  text-align: center;
  color: white;
  padding: 5px;
  background-color: #E58826;
  border-bottom: solid 1px  white;
}
.dropdown-menu li:hover {
  color: white !important;
  background: #24292e;
}

/* MAIN*/

main {

}
/* CAROUSEL BANNER */
#banner {
  display: block;
  /*position: absolute;
  top: 125px;*/
  height: 400px;
  width:100%;
  background-color: #E58826;
  z-index: 1 !important;
}

.banner-img {
  display: none;
  /*position: relative;*/
  height: 500px;
  width: 74%;
  padding-right: 5px;
  float: left;
  background-position:right top;
  z-index: 1;
}

#ban1 {
  display: block;
  background-image: url("http://cinema.mu/wp-content/uploads/2016/07/tarzan-banner.jpg");
}

#ban2 {
  display: none;
  background-image: url("http://cdn.playbuzz.com/cdn/f1e31640-c5f7-4d47-89dd-44bc1026178b/379ea720-da67-4740-8755-5d2b8839aa28.jpg");
}

.banner-carousel {
  display: inline-block;
  /*position: absolute;
  bottom: 0px;*/
  height: 120px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.film-title {
  display:block;
  /*position: absolute;*/
  text-align: center;
  top: 20px; left: 130px;
  background-color: #E58826;
  color: white;
  width: 250px;
  height: 50px;
  font-weight: bold;
  padding-left: 35px;
  padding-right: 35px;

}

.film-desc {
  /*display:block;
  position: absolute;*/
  top: 70px; left: 105px;
  color: white;
  font-weight: bold;
  padding: 7px;
  padding-left: 25px;
  padding-right: 25px;
}

#banner-list{
  /*display: inline-block;
  position: relative;*/
  height: 500px;
  width: 26%;
  float: left;
  background-color: black;
}
.banner-item{
  margin-top: 3px;
  padding: 5px;
  height: 96.5px;
  background: #24292e;
}

.banner-item:hover{
  background: #E58826;
  color: #24292e;
}

.banner-item:hover h3{
  color: #24292e;
}

.banner-item h3 {
  color: #E58826;
}

.banner-item p {
  color: white;
}

.item-img{
  width: 85px;
  height: 85px;
  margin-right: 5px;
  float: left;
  background: grey;
}

.item-img img {
  width: 85px;
  height: 85px;
}

.film-title h3 {
  margin-top: 13px !important;
  font-weight: bold;
}

.carousel-btn {
  display:inline-block;
  /*position: absolute;*/
  width: 60px;
  height: 60px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding: 7px;
  border: solid 1px;
  border-radius: 15px;
}

.carousel-btn:hover {
  background: black;
  opacity: 0.6;
}

#left-btn {
  top: 30px; left: 20px;
  padding: 0px;
  float: left;
  border: solid 1px;
}

#right-btn {
  top: 30px; right: 20px;
  padding:0px;
  float: right;
  border: solid 1px;
}


/*SOCIAL MEDIA BUTTONS*/

.social {
  position: fixed;
  top: 600px;
  z-index: 1;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 320px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.social ul li:hover i {
  color: #fff;
  background:#8F8781;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* LATEST MOVIES*/
#latest {
  width: 100%;
  height: auto;
  margin-bottom: 61px;
}

.latest-box {
  height: auto;
  color: #8F8781;
  border: solid 1px #E0E0E0;
  padding: 35px;
  margin-top: 14px;
}

.l-movie {
  float: left;
  margin-left: 50px;
}

.l-movie-img img{
  width: 175px;
  height: 276px;
  margin-bottom: 5px;
}

.l-movie-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: #8F8781;
}

.l-movie-year {
  float: left;
  color: #8F8781;

}

.l-movie-genre {
  float: right;
  color: #808080;
  font-weight: bold;
}

/* ...................FEATURED MOVIES.......................*/

#hiddenM {
  display: none;
}
#hiddenS {
  display: none;
}

.titreBefore  {
  padding-left: 35px;
  padding-right: 30px;
  font-weight: bold;
  font-size: 30px;
  color: #808080;
  border-left: solid 5px #E58826;
  position: relative;
  right: 173px;
}

.row h3 {
  text-align: center !important;
}

#rowFutured , #rowSerie{
  margin-left: 1px;
  margin-bottom:30px;
  margin-top:75px;
}
.vignette{
  height:276px !important;
  width:194px;
}
#maximum{
  height: 598px;
  width: 1196px;
}

.boutonActive{
  background-color: #E58826;
  width:85px;
  height:50px;
  color:white;
}
.boutonHover:hover{
  background-color: #E58826;
  width:85px;
  height:50px;
}
.boutonHover{
  background-color: #D0CFD0;
  width:85px;
  height:50px;
}

#plusDeFilms , #plusDeSeries{
  background-color: #E58826;
  width:auto;
  height:50px;
  display:block;
  margin:0 auto;
  padding:5px 15px;
  color:white;
}

/*..................... FEATURED SERIES........................*/

#civilWar{
  background-color: #E58826;
  height: 300px;
  padding-top: 21px;
}
/* SHOP */
#shop {
  margin-top:50px;
}
#previous{
  margin-right:10px;
}
#previous , #next{
  width:35px;
  height:35px;
  background-color: black;
  color:#808080;
  font-size: 28px;
  font-weight: bold;
  text-align: center;

}

#blockPreviousNext{
  display:flex;
  justify-content:flex-end;
}
.embed-responsive-item{
  height: 300px !important;
}
.embed-responsive-16by9 {
  padding-bottom:300px !important;
}
#blockVideo{
  margin-bottom: 15px;
}
#tableau > tbody > tr > td:nth-child(1n){
  color:#4C5155;
}

#tableau > tbody > tr > td:nth-child(3n){
  color:white;
}
.borderless td, .borderless th {
  border: none;
}
table thead tr th, .table tbody tr td {
  border: none!important;
}

.table{
  border: none;
}


/*POPUP*/
#blockBlanc{
  width:100%;
  height:100%;
  background-color: rgba(255, 255, 255, 0.9);
  position:fixed;
  top:0;bottom:0;right:0;left:0;
  z-index:4;

}
#popup{
  width: 700px;
  height: 700px;
  background-color: #E58826 !important;
  position: relative;
  top: 10%;
  left: 32%;
  bottom: 0;
  border-radius:5%;
  z-index: 9999;
  font-size:2em;
  display: flex;
align-items: center;
justify-content: center;



}
#popupEnfant{
  display:flex;
  justify-content:center;
  align-items:center;
}
#age{
  background-color:white;
}
#submitAge{
    background-color:white;
}

/* ....................CONTACT................................... */


#contact {
  height: auto;
  color: #8F8781;
}

#row2{

  margin-left:10%;
}

.contact-item {
  background-color: #3A3A3A;
  /*width: 24.2% !important;*/
  height: 230px;
  margin-right: 2%;
  margin-top: 40px;
}

#itemNoMarginRight{
  margin-right:0px !important;
  margin-bottom:2%;
}

.rondOrange{
  width:50px;
  height:50px;
  border-radius:50%;
  background-color:#FF8C1B;
  position:relative;
  top: -24px;
  left: 90px;
}
.glyphicon{
  color: white;
  top: 16px !important;
  left: 16px !important;
  font-size: 1.3em;
}
.white{
  color:white;

}
#boutonGaucheFacebook{
  background-color:#2D4A84;
}
#boutonDroitFacebook{
  background-color:#3A5997;
}
#boutonGaucheTwitter{
  background-color:#466F90;
}
#boutonDroitTwitter{
  background-color:#55ABED;
}
#boutonGaucheGoogle{
  background-color:#683F3C;
}
#boutonDroitGoogle{
  background-color:#DC4E42;
}
.inputMargin{
  margin-bottom:10px;
}
textarea{
  border-radius:5px;
}
#submit{
  background-color:#141514;
  color:white;
  border-radius:0px;
  margin-bottom: 30px;
}


/* FOOTER*/

footer {
display: block;
position: relative;
 width: 100%;
 height: 300px;
 background: #24292e;
}

#footer{
  position: absolute;
  height: auto;
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
}

#footer-top {
  width: 100%;
  height: 110px;
  border-bottom: solid 2px #8F8781;
}

.footer-header h3 {
  font-weight: bold;
  color: #FF8C1B;
  font-size: 25px;
  margin-top: 60px !important;
  margin-bottom: 10px !important;
}

.sub {
  width: 367px !important;
  border: solid 1px #8F8781;
  padding: 5px;
  float: left;
}
.email {
  background: white;
  color: #8F8781;
  width: 250px;
  height: 30px;
}

.subs {
 background: #FF8C1B !important;
 width: 100px;
 height: 30px;
 color: white;
 font-weight: bold;

}

.footer-logo {
  float: right;
}

#footer-bottom {
  width: 100%;
  height: 95px;
}

.footer-copyright {
  margin-top: 30px;
  float: left;
  color: #8F8781;
  font-size: 18px;

}

.footer-nav {
  float: right;
  color: white;
  margin-top: 30px;
}

.footer-nav li {
  float: left;
  font-weight: bold;
  font-size: 18px;
}

.footer-nav li a{
  text-decoration: none;
  color: white;
  float: left;
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
}

#footer-anchor {
  position: absolute;
  top: 150px;
  right: 50px;
  float: right;
  width: 50px;
  height: 50px;
}

#footer-anchor a {
  text-decoration: none;
}
.footerBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  background: #FF8C1B;
  border: none;
}

@media screen and (max-width: 768px) {
  #carreGris {

  }
  .titreBefore{
    right:0px;
  }
  #popup{
    width: 481px;
    height: 300px;
    left:18%;
  }
  .paddingLeft{
      padding-left: 10% !important;
  }
  .titreBefore{
    margin-top:6% !important;
    margin-bottom: -5% !important;
  }
  textarea{
    width:100%;
  }
  #latest{
    margin-top:55%;
  }
}
